<form class="ui large form segment">
	<!-- div class="ui labeled input">
		<div class="ui label">Link:</div> <input name="link" id="link" #newlink>
	</div>
	<div class="ui labeled input">
		<div class="ui label">Label:</div> <input name="label" id="label" #newlabel>
	</div -->

	<div class="field">
		<label>Item</label> <input name="item" id="item" #newitem>
	</div>
	<div class="field">
		<label>Category</label> <input name="category" id="category"
			#newcategory>
	</div>

	<button (click)="addCategory(newcategory, newitem)"
		class="ui right floated button">Submit</button>
</form>

<div class="ui grid">
	<div class="stretched row">
		<div class="four wide column">
			<div class="ui segment">
				<tree-root [nodes]="nodes" [options]="options"> <ng-template
					#treeNodeWrapperTemplate let-node let-index="index">
				<div class="node-wrapper"
					[style.padding-left]="node.getNodePadding()">
					<div style="margin-top: 7px">
						<tree-node-expander [node]="node"></tree-node-expander>
					</div>
					<div class="ui node-content-wrapper button"
						[class.node-content-wrapper-active]="node.isActive"
						[class.node-content-wrapper-focused]="node.isFocused"
						(click)="node.mouseAction('click', $event)"
						(dblclick)="node.mouseAction('dblClick', $event)"
						(contextmenu)="node.mouseAction('contextMenu', $event)"
						(treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop"
						[treeDrag]="node" [treeDragEnabled]="node.allowDrag()">

						<tree-node-content [node]="node" [index]="index"></tree-node-content>
					</div>
				</div>
				</ng-template> </tree-root>
			</div>
		</div>
		<div class="twelve wide column">
			<div class="ui segment">
				<app-item-list [category]="selectedCategory"></app-item-list>
			</div>
		</div>
	</div>
</div>