<form class="ui large form segment">
	<div class="field" data-tooltip="An item, e.g.: NorthernSoul" data-position="top right">
		<label>Item</label> <input name="item" id="item" #newitem>
	</div>
	<div class="field" data-tooltip="One or more categories each separated by space, e.g.: Above&Beyond Trance 2018" data-position="top right">
		<label>Categories</label> <input name="categories" id="categories"
			#newcategories>
	</div>

	<button (click)="addCategories(newcategories, newitem)"
		class="ui right floated button">Submit</button>
</form>

<div class="ui grid">
	<div class="stretched row">
		<div class="four wide column">
			<div class="ui segment">
				<tree-root [nodes]="categories" [options]="options" (activate)="setSelectedCategory($event)"> <ng-template
					#treeNodeWrapperTemplate let-node let-index="index">
				<div class="node-wrapper"
					[style.padding-left]="node.getNodePadding()">
					<div style="margin-top: 7px">
						<tree-node-expander [node]="node"></tree-node-expander>
					</div>
					<div class="ui node-content-wrapper button"
						[class.node-content-wrapper-active]="node.isActive"
						[class.node-content-wrapper-focused]="node.isFocused"
						(click)="node.mouseAction('click', $event)"
						(dblclick)="node.mouseAction('dblClick', $event)"
						[contextMenu]="basicMenu"
						[contextMenuSubject]="node.data"
						(treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop"
						[treeDrag]="node" [treeDragEnabled]="node.allowDrag()">

						<tree-node-content [node]="node" [index]="index"></tree-node-content>
					</div>
				</div>
				</ng-template> </tree-root>
			</div>
		</div>
		<div class="twelve wide column">
			<div class="ui segment">
				<app-item-list></app-item-list>
			</div>
		</div>
	</div>
</div>

<context-menu>
  <ng-template contextMenuItem let-item (execute)="deleteCategory($event)">
    Delete
  </ng-template>
</context-menu>