@import './assets/vendor/semantic.min.css';
@import '~angular-tree-component/dist/angular-tree-component.css';

form.form:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.toggle-children-placeholder {
    width: 13px;
}